.firstlogin {
  height: 100%;
  width: 100%;
  padding: 28px;
  box-sizing: border-box;
  background: #f4f7fc;
}
.title {
  line-height: 50px;
}
.title i {
  display: inline-block;
  height: 18px;
  width: 6px;
  background: #4a92fe;
  border-radius: 16px;
  vertical-align: sub;
}
.title .header {
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin-left: 14px;
  font-weight: bold;
}
.body {
  background: #fff;
  padding: 22px 40px;
  height: calc(100% - 97px);
}
.body .tips {
  font-size: 16px;
  padding: 10px 0 20px 0;
}
.body .tips .tips-title {
  font-weight: bold;
}
.footer {
  text-align: center;
  margin-top: 250px;
}
button {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 4px;
  margin-left: 16px;
  border: 1px solid #dcdfe6;
}
.footer .reset {
  background: #fff;
}
.footer .confirm {
  color: #fff;
  background: #4a92fe;
}
.footer .reset:focus,
.footer .reset:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background: #ecf5ff;
}
.footer .confirm:focus,
.footer .confirm:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
input {
  margin-right: 10px;
  margin-bottom: 5px;
}
.msgSuccess {
  min-width: 300px;
  box-sizing: border-box;
  border: 1px solid #fde2e2;
  position: fixed;
  left: 50%;
  top: 5%; 
  transform: translateX(-50%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  display: none;
  color: #52aa3a;
  padding: 12px 15px;
  background: #fef0f0;
  text-align: center;
}
.msg {
  min-width: 300px;
  box-sizing: border-box;
  border: 1px solid #fde2e2;
  position: fixed;
  left: 50%;
  top: 5%; 
  transform: translateX(-50%);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  display: none;
  color: #ff5046;
  padding: 12px 15px;
  background: #fef0f0;
  text-align: center;
}
th {
  font-weight: 700;
  color: #909399;
}
.uname {
  color: #606266;
  font: 16px "Microsoft Yahei";
  border: none;
  outline: none;
}
table .cell {
  line-height: 23px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
th > .cell {
  font-size: 14px;
  user-select: none;
  text-align: left;
}
.is-leaf {
  border-top: 1px solid #ebeef5;
}
input {
  width: 300px;
  height: 28px;
  border: 1px solid #dcdfe6;
}
input::placeholder {
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  color: #dcdfe6;
  box-sizing: border-box;
}
.error {
  border-color: #f56c6c;
}
.errMsg,
.errSureMsg {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  display: none;
}
